*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./img/sun-tornado.svg');
    background-size: cover;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

/* ! comuni */

.navbar,
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > ul{
    width: 100%;
    gap: 100px;
    backdrop-filter: invert(100%);
}

.navbar ul li{
    display: inline-block;
    font-size: 3rem;
    color: white;
    position: relative;
}

.navbar li a{
    padding: 0 5px;
    display: block;
    line-height: 100px;
}

.navbar li a::after,
.navbar li a::before{
    content: '';
    background: white;
    height: 4px;
    position: absolute;
}

/* ! prima navbar */

.navbar.first li a:after{
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.navbar.first li a:hover::after{
    display: block;
}

/*  ! seconda navbar */

.navbar.second li a::before{
    bottom: 20px;
    left: 0;
    right: 0;
    transition-duration: 2s;
}

.navbar.second li a:hover::before{
    margin-bottom: 70px;
}

.navbar.second li:hover a{
    color:aqua;
    transition: 2s ease;
}

/* ! terza navbar */

.navbar.third li a:after{
    bottom: 15px;
    left: 0;
    right: 0;
    background-color: palevioletred;
    transform: scaleX(0);
    transition: 1s;
}

.navbar.third li a:hover::after{
    transform: scaleX(1);
}

